@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

#board{
    height: 540px;
    width: 630px;
    background-color: #A569BD;
    border: 8px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 50%;
}